@font-face {
  font-family: "CenturyGothic-regular";
  src: url("./century-gothic-2/CenturyGothic.ttf");
}

@font-face {
  font-family: "CenturyGothic-bold";
  src: url("./century-gothic-2/GOTHICB.TTF");
}

:root {
  --font-style1: "CenturyGothic-regular";
  --font-style2: "CenturyGothic-bold";
  display: flex;
  justify-content: center;
}

.App {
  font-family: CenturyGothic-regular;
  max-width: 393px;
  max-height: 852px;
}

div#navBox {
  display: none;
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 67px;
  background-color: #f0ebe3;
  color: white;
  text-align: center;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  max-width: 393px;
  height: auto;
}
