.wasteExamples {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  text-align: center;
  margin-bottom: 13%;
  margin-top: 8%;
}

.welcome {
  font-family: "CenturyGothic-bold";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
}

.exampleDesc {
  margin-top: 0;
}

.exampleCount {
  margin-bottom: 0;
}

.landingPage {
  text-align: center;
  margin-top: 15%;
}

.example {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

#example1 {
  background-color: #abc3c9;
}

#example2 {
  background-color: #98b8a3;
}

.startButton {
  font-style: normal;
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  width: 203px;
  height: 59px;
  background: #ffffff;
  border-radius: 18px;
  border-color: white;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.exampleBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landingLogo {
  width: 160px;
  height: 160px;
}

.exampleTitle {
  width: 133px;
}

.exampleTitle2 {
  width: 157px;
}
